
@{
    ViewBag.Title = "Beneficiários";
}
@section scripts{
    <script>
    var urlAlteracao = '@Url.Action("Alterar", "Beneficiario", new { area = "" })';
    var urlClienteList = '@Url.Action("BeneficiarioList", "Beneficiario", new { area = "" })';

    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jtable")
    @Scripts.Render("~/bundles/altBeneficiarios")
    @Scripts.Render("~/bundles/listBeneficiarios")
    @Scripts.Render("~/bundles/beneficiarios")

}
<h2>@Html.Raw(ViewBag.Title)</h2>
<hr />



@Html.ActionLink("Incluir", "Incluir", "Beneficiario", new { }, new { @class = "btn btn-sm btn-success pull-right" })
<table id="gridBeneficiario" class="table"></table>